/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orange;
    font-family: Helvetica, sans-serif;
    color: #222;
    padding: 20px;
    line-height: 1.6;
}

/* Cabeçalho */
header h1 {
    text-align: center;
    font-size: 3.5rem;
   background-color: rgba(233, 182, 72, 0.836);
    padding: 20px;
    margin-bottom: 30px;
}

/* Seções */
section {
    margin-bottom: 40px;
    background-color: rgba(233, 182, 72, 0.836);
}

h1,h2, h3, h4 {
    text-align: center;
    background-color: rgba(233, 182, 72, 0.74);
    padding: 15px;
    margin-bottom: 20px;
    font-size: 2rem;
}

/* Texto */
p {
    font-size: 1.3rem;
    text-align: justify;
    margin: 0 auto 20px;
    max-width: 900px;
}

/* Imagens */
.center-img {
    display: block;
    margin: 20px auto;
    width: 500px;
    height: auto;
}

.img-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.img-grid img {
    width: 320px;
    height: 400px;
    object-fit: cover;
    border: 4px solid #ff7b00;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2, h3, h4 {
        font-size: 1.5rem;
        
    }

    .img-grid {
        flex-direction: column;
        align-items: center;
    }

    .center-img {
        width: 90%;
    }
}